@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--body-bg-color);
    color: var(--text-color);
    font-family: 'Merriweather Sans', sans-serif;
}

.container {
    float: left;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100vh;
    padding: 10px;
    gap: 20px;
}

.imgPerfil {
    width: 128px;
    height: 128px;
    border-radius: 100px;
    border: 3px solid rgb(0, 255, 0);
}

.catalogo {
    background-color: var(--bg-cards);
    border-radius: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

#perfil {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

ul>li>a {
    text-decoration: none;
    color: var(--text-color);
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}



.tecnologias {
    color: var(--bg-techs);
}

.title {
    width: 100%;
    margin-bottom: 10px;
}

#tech {
    gap: 15px;
}

.containerTech {
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: space-around;

}

.btn {
    height: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    border-radius: 50px;
    background-color: var(--bg-techs);
    color: black;
    font-weight: 900;
    font-size: 10px;
    border: none;
}

.experiencias {
    list-style: disc;
}

#educacaoContainer,
#experienciaContainer {
    justify-content: start;
}

#educacao {
    margin-left: 50px;
}

main {
    width: 80%;
    margin-left: 20%;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
}

.myProject {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-cards);
    padding: 30px;
    border-radius: 20px;
    font-size: 20px;
}

.twoCard {
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.card1 {
    width: 45%;
    background-color: var(--bg-cards);
    padding: 20px;
    border-radius: 20px;
}

.card2 {
    width: 45%;
    background-color: var(--bg-cards);
    padding: 20px;
    border-radius: 20px;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}

.span {
    margin-left: 5px;
    margin-right: 20px;
}

.recentPost {
    margin-top: 3%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: var(--bg-cards);
    padding: 30px;
    border-radius: 20px;
    font-size: 20px;
}

.final {
    width: 100%;
    background-color: var(--bg-cards);
    padding: 20px;
    margin-top: 3%;
    border-radius: 20px;
    display: flex;
    justify-content: start;
}

#photo {
    width: 128px;
    height: 128px;
    border-radius: 100px;
}

.texto {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
}

.hastags {
    display: flex;
    justify-content: space-around;
}

.subtitleTexto {
    font-size: 13px;
}