:root {
	--dark: #292C35;
	--light: #F1F1F1;
	--label: #111;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.btn {
    display: flex;
    justify-content: center;
}

.button {
    width: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 0.5s;
    padding: 15px 25px 15px 25px;
    height: 20px;
    background-color: #111;
    border: 2px solid red;
}


